*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
*::-webkit-scrollbar
{
    display: none;
}
/*
* Variables
*/
/*
* End Variables
*/
body
{
    background-color: #222;
    -webkit-font-smoothing: antialiased;
    .header 
    {
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        background-color: #333333a9;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        width: 100%;
        height: 20vh;
        z-index: 999;
        a
        {
            display: flex;
            flex-direction: row;
            gap: 20px;
            text-decoration: none;
            color: #f1f1f1;
            font-size: 32px;
            font-weight: 400;
            text-transform: lowercase;
            font-family: 'Alata', sans-serif;
            transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
            .logo
            {
                background: linear-gradient(to right, #a8ff78, #78ffd6);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 32px;
                font-weight: 400;
                text-transform: lowercase;
                font-family: 'Alata', sans-serif;
            }
            &:hover
            {
                transform: scale(1.14);
            }
        }
        .searchbar
        {
            display: flex;
            flex-direction: column;
            gap: 0px;
            background-color: #b2f1dcdc;
            border-radius: 35px;
            width: 60%;
            height: 4vh;
            .urlInput
            {
                padding-left: 10%;
                background: linear-gradient(to right, #a8ff78, #78ffd6);
                border-radius: 45px;
                border: none;
                color: #333;
                font-size: 14px;
                font-weight: 400;
                text-transform: lowercase;
                font-family: 'Alata', sans-serif;
                width: 100%;
                height: 4vh;
                &:focus
                {
                    outline: none;
                }
                &::placeholder
                {
                    color: #333;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: lowercase;
                    font-family: 'Alata', sans-serif;
                }
            }
        }
    }
    .suggestions
    {
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        top: 17vh;
        left: 374px;
        background-color: #d7e4e4c0;
        backdrop-filter: blur(15px);
        border-radius: 45px;
        -webkit-backdrop-filter: blur(15px);
        width: 60%;
        height: 70vh;
        z-index: 999;
        li
        {
            list-style: none;
            a 
            {
                padding: 12px;
                text-align: center;
                background-color: #444;
                border-radius: 45px;
                color: #78ffd6;
                font-size: 32px;
                font-weight: 400;
                font-family: 'Alata', sans-serif;
                width: 100%;
                height: 40px;
                transition: background-color 0.4s cubic-bezier(0.86, 0, 0.07, 1);
                cursor: default;
                &:hover
                {
                    background-color: #357e0e;
                }
            }
        }
    }
}